/* Base Styles */
:root {
    --main-bg-color: orangered;
    --main-bg-color-text: white;
    --border-radius: 3px;
}

ul {
    margin: 0;
    padding: 0;
}

/* Game Styles */

#games {
    padding: 1em;
}

.Game {
    display: flex;

    + .Game {
        margin-top: 2px;
    }
}

.Game:nth-of-type(odd) {
    .Game__tags {
        background-color: rgba(255, 69, 0, 0.1); /* orangered @ 10% */
    }
}

.Game__header {
    align-items: stretch;
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius);
    color: var(--main-bg-color-text);
    display: flex;
    font-size: 1.2em;
    min-width: 500px;
    justify-content: space-between;
}

.Game__name {
    align-items: center;
    border: 1px solid var(--main-bg-color);
    border-radius: var(--border-radius);
    display: flex;
    padding: 0.4em 0.8em;
}

.Game__rating {
    align-items: center;
    background-color: var(--dark);
    border: 1px solid var(--main-bg-color);
    border-radius: var(--border-radius);
    color: var(--main-bg-color);
    display: flex;
    font-size: 2em;
    justify-content: center;
    padding: 0em 0.4em;
}

.Game__tags {
    align-items: center;
    display: flex;
    border-radius: var(--border-radius);
    flex-grow: 1;
    gap: 0.4em;
    padding: 0.4em 0.8em;

    li {
        background-color: #333;
        border: 1px solid #333;
        border-radius: var(--border-radius);
        list-style-type: none;
        padding: 0.4em 0.8em;
        text-align: center;
        width: 175px;
    }

    .Tag--coop {
        background-color: mediumslateblue;
        color: white;
    }
    
    .Tag--free {
        background-color: mediumspringgreen;
        color: black;
    }

    .Tag--vr {
        background-color: forestgreen;
        color: white;
    }
}

.hide {
    display: none;
}
