@import './normalize.css';

:root {
    --dark: #111111;
    --light: #EEEEEE;
    --hover: orangered;

    
    background-color: var(--dark);
    color: var(--light);
    font-family: "Kode Mono";
}

#index {
    align-items: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.page-header {
    align-items: center;
    background-color: var(--dark);
    display: flex;
    gap: 2em;
    justify-content: space-between;
    padding: 1em;
    position: sticky;
    top: 0px;
    z-index: 1;

    h1 {
        margin: 0px;
    }
}

.links {
    align-items: center;
    display: flex;
    font-size: 2em;
    gap: 0.8em;

    button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0em;
    }

    a,
    button {
        color:#EEE;
        text-decoration: none;

        :hover {
            color: var(--hover);
            cursor: pointer;
            transition: color 0.2s ease;
        }
    }
}

.orangered {
    color: orangered;
}